In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('./monitoring_data_logging.csv')

df.head()

                         Time  Temperature    pH  Turbidity  DissolvedOxygen
0  2023-02-22 17:30:40.057717        25.20  6.12     409.74            16.90
1  2023-02-22 17:30:40.700293        25.25  6.04     425.69            15.35
2  2023-02-22 17:30:41.329010        25.83  6.73     357.34            16.59
3  2023-02-22 17:30:41.900881        25.72  6.63     424.83            16.41
4  2023-02-22 17:30:42.595041        25.10  6.79     438.88            15.35

In [3]:
X = df[['Temperature', 'pH', 'Turbidity']]
y = df['DissolvedOxygen']

X.head()

   Temperature    pH  Turbidity
0        25.20  6.12     409.74
1        25.25  6.04     425.69
2        25.83  6.73     357.34
3        25.72  6.63     424.83
4        25.10  6.79     438.88

In [4]:
y.head()

0    16.90
1    15.35
2    16.59
3    16.41
4    15.35
Name: DissolvedOxygen, dtype: float64

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [6]:
linear_regression = LinearRegression()

In [7]:
linear_regression.fit(X_train, y_train)

LinearRegression()

In [8]:
print(linear_regression.score(X_test, y_test))

-0.19214623294880884

In [10]:
y_predict = linear_regression.predict(X_test)

X_test

    Temperature    pH  Turbidity
16        25.40  6.63     409.76
34        25.96  6.34     437.57
10        25.33  6.10     401.19
18        25.73  6.16     423.73
27        25.67  6.24     420.44
35        25.01  6.30     363.66
5         25.17  7.00     304.80
14        25.05  6.03     347.38
25        25.33  6.99     390.14
7         25.71  6.80     356.31
9         25.42  6.05     302.79

In [13]:
y_predict.reshape(-1,1)

array([[16.09292604],
       [16.22229634],
       [15.95503244],
       [16.10484642],
       [16.10155536],
       [15.8900049 ],
       [16.10039468],
       [15.84677443],
       [16.14767566],
       [16.24059526],
       [15.98225565]])